@media  (min-width: 1024px){

}

@media  (min-width: 740px) and (max-width: 1023px){
    #content .content-section{
        width: 76%;
    }
    
}

@media  (max-width: 739px){
    #content .content-section{
        width: 88%;
    }
    #header .search-button{
        display: none;
    }
    #nav > li{
        display: block;
    }
    #menu-btn{
        display: block;
    }
    #nav{
        margin-top: 50px;
        float: right;
    }
}